textarea {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 99%;
  height: 75px;
  font-size: 0.8em;
  color: purple;
  font-family: Monaco, Consolas, "Liberation Mono", "Courier New", Courier, monospace;
}
