.output {
    font-family: Monaco, Consolas, "Liberation Mono", "Courier New", Courier, monospace;

    font-size: 1.2em;
    color: #FFFFFF;
    background-color: #000000;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* MediaQuery component */
@media only screen and (max-width: 600px) {
    #output {
        padding: 10px;
    }
}