div[role="tablist"] {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1em;
}

button[role="tab"] {
    background-color: transparent;
    border: none;
    padding: 1em;
    cursor: pointer;
}

button[role="tab"][aria-selected="true"] {
    font-weight: bold;
    border-bottom: 2px solid;
}

div[role="tabpanel"] {
    display: none;
}

div[role="tabpanel"]:not([hidden]) {
    display: block;
}
button[role="tab"]:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
