.sidebar {
  border-radius: 2px;
  border: 1px solid black;
}

.sidebar-header {
  border-bottom: 1px solid #000;
}

.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.idle {
  color: gray;
}

.sidebar ul li.selected {
  background-color: #bde4ff;
  border-radius: 2px;
}
