.transfer-history {
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  padding: 0.625rem;
}

.transfer-history h4 {
  margin-top: 0;
}

.transfer-history ul {
  list-style-type: none;
  padding: 0;
}

.transfer-history li {
  margin-bottom: 0.3125rem;
  font-size: 0.875rem;
}
